<!DOCTYPE html>
<html lang="en-US">
<head>
  <style>
  h1 {
    background-color: black;
    font-style: courier;
    font-size: 28px;
    color: white;
    padding: 8px;
    margin: 20px;
  }
  </style>
  <title> My web page</title>
  <meta charest="UTF-8">
  <meta name="viewport" content"width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>About</h1>
    <%= link_to 'Home', root_path %> <br>
    <%= image_tag'redsoxlogo.png' %>



</body>
</html>
